<div class="jumbotron about-jumbo">
	<h1>About REAP</h1>
</div>
<div class="container">
	<div class="content-row-about row col-sm-12">
		<p>The MIT Regional Entrepreneurship Acceleration Program (MIT REAP) is a capstone global initiative at MIT designed to help regions accelerate economic growth and job creation through <a href='http://www.kauffman.org/~/media/kauffman_org/research%20reports%20and%20covers/2013/05/ataleoftwoentrepreneurs.pdf'>innovation-driven entrepreneurship (IDE)</a>.  Partner regions form multi-disciplinary teams and commit to a two-year learning engagement with MIT. During this engagement, teams work with world-renowned MIT faculty and the broader REAP community through a series of action-learning activities to build and implement a custom regional strategy for enhancing their IDE ecosystems. Download a REAP brochure <a href='/brochure.pdf'>here.</a></p> 
		<div class="col-sm-4 info-col" id="collaborate-col">
			<div class="circle dark-blue-reap">
				<%= image_tag 'reap2.png', class: 'who-circle'%></i>
			</div>
			<h3 class="about-page-subtitle">Who?</h3>
			<p>
				MIT REAP admits 8-10 partner regions annually to participate in the two-year engagement.  A typical <a href='/#partner-regions'>REAP region</a> has a population of 3-10 million people.  Each partner region has a <a href='/REAP_Ideal_Team.pdf'>team</a> comprised of 5-7 highly driven and influential regional members and is headed by a regional champion.  All 5 major stakeholder groups are represented in an MIT REAP team: government, corporate, academia, risk capital, and the entrepreneurial community.
			</p>
		</div>
		<div class="col-sm-4 info-col info-col-line-double" id="ideate-col">
			<div class="circle dark-blue-reap">
				<%= image_tag 'why.png', class: 'why-circle'%></i>
			</div>
			<h3 class="about-page-subtitle">Why?</h3>
			<p>
				During this two-year engagement, regional teams are empowered to:
			</p>
			<ul style="padding-left:0px !important">
				<li>Deploy MIT rigor and use data-driven frameworks to deepen analysis and evaluate their current entrepreneurial ecosystems</li>
				<li>Catalyze action through the development of a common agenda and set of shared measurements to support the construction and implementation of a strategic framework for driving regional IDE impact</li>
				<li>Leverage understanding of key drivers of successful IDE ecosystems to design and implement key programs and policies</li>
				<li>Share best practice from world-renowned MIT faculty and partner regions</li>
				<li>Build bridges internally across regional stakeholders to drive regional strategy development and implementation</li>
				<li>Exchange ideas externally with the partner regions and MIT REAP community</li>
				<li>Cultivate a global community of regions and individuals interested in ecosystem development</li>
			</p>
		</div>
		<div class="col-sm-4 info-col" id="evaluate-col">
			<div class="circle dark-blue-reap">
				<%= image_tag 'how.png', class: 'how-circle'%></i>
			</div>
			<h3 class="about-page-subtitle">How?</h3>
			<p>
				MIT REAP involves four action-learning cycles over a two-year period.  These cycles involve highly interactive workshops every 6 months, which are interspersed by action phases:
			</p>
			<p>
				(1) A typical workshop is 2.5 days and consists of lecture & discussion, case study analysis, ecosystem engagement tours, programmatic deep dives, group work report-outs, and preparation for action phases. 2 workshops are hosted at MIT and 2 workshops are hosted by selected partner regions.
			</p>
			<p>
				(2) Action phases are active time between workshops where teams return home to deepen analysis, validate assumptions with a broad network, and implement new programs and policies.
			</p>
		</div>	
	</div>
</div>