<div class="jumbotron about-jumbo">
	<h1>About REAP</h1>
</div>
<div class="container">
	<div class="content-row-about row col-sm-12">
		<div class="col-sm-4 info-col" id="collaborate-col">
			<div class="circle-smaller light-blue-reap">
				<i class="fa fa-cog about-icon-cog"></i>
			</div>
			<h3 class="about-page-subtitle">Overview</h3>
			<p>
				The MIT Regional Entrepreneurship Acceleration Program (REAP) is an innovative two-year program designed to work with regional teams around the world to enhance and accelerate their entrepreneurial ecosystem.  With a focus on prosperity and on enhancing both general regional strengths and specific areas of industry, MIT REAP enables regional teams to develop and implement a custom acceleration strategy to propel their region’s economic growth through innovation-driven entrepreneurship (IDE).
			</p>
			<p>
				Our approach is multi-stakeholder in nature. MIT REAP brings together diverse teams from the government, entrepreneurial community, large corporations, universities and risk capital to develop and share global best practices.  MIT REAP is an opportunity for regions to both build bridges internally across stakeholder groups in your region, and to exchange ideas externally with other member regions. 
			</p>
		</div>
		<div class="col-sm-4 info-col info-col-line-double" id="ideate-col">
			<div class="circle-smaller light-blue-reap">
				<i class="fa fa-rocket about-icon-rocket"></i>
			</div>
			<h3 class="about-page-subtitle">Innovation-Driven Entrepreneurship</h3>
			<p>
				Policymakers and pundits who use entrepreneurship as a catch-all phrase have got it wrong.  There are two distinct forms of entrepreneurship: innovation-driven entrepreneurship (IDE) and small-medium entrepreneurship (SME).  IDEs impact large amounts of people through either innovative technologies or innovative business practices.  They are high risk and high reward.  SMEs are traditional enterprises and they impact smaller amounts of people.  They operate through traditional business models and do not produce new to the world technologies.  
			</p>
			<p>
				REAP focuses on building and accelerating high-growth IDE ecosystems. The REAP program at MIT begins by making this distinction. The program then accelerates the development of entrepreneurial ecosystems through a custom REAP strategy. MIT’s unparalleled excellence in engineering and technology provides REAP teams with a distinct advantage in developing their regional entrepreneurship ecosystems.
			</p>
			<p>
				To learn more about why IDE is different, read the MIT paper, “A Tale of Two Entrepreneurs”
			</p>
		</div>
		<div class="col-sm-4 info-col" id="evaluate-col">
			<div class="circle-smaller light-blue-reap">
				<i class="fa fa-tasks about-icon-list"></i>
			</div>
			<h3 class="about-page-subtitle">Results</h3>
			<p>
				MIT REAP implements the Institute’s expertise in entrepreneurial ecosystem development. Partner regions accelerate their growth by engaging in the two-year non-degree program. MIT REAP opens by identifying regional challenges to economic growth. Partner regions subsequently develop and implement a custom REAP strategy informed by MIT frameworks. A REAP cohort is composed of eight international partner regions. One of the greatest strengths of the MIT REAP experience is inter-regional collaboration. International collaboration between partner regions aligns regional strategies with global best practice. MIT REAP teaches partner regions how to use accelerators, prizes, diaspora and risk capital to catalyze regional economic growth. 
			</p>
			<p>
				Partner regions measure their regional performance by using the data-driven REAP dashboard. The dashboard is composed of region-specific metrics associated with IDE ecosystem development. The REAP Dashboard allows partner regions to learn from each other, fostering international relationships that extend beyond the duration of the program. After the two-year cohort closes, partner regions continue progress on the projects initiated during REAP with guidance from MIT faculty.
			</p>
		</div>	
	</div>
</div>