<div class="jumbotron about-jumbo">
	<h1>About REAP</h1>
</div>
<div class="container">
	<div class="content-row-about row col-sm-12">
		<div class="col-sm-4 info-col" id="collaborate-col">
			<div class="circle-smaller light-blue-reap">
				<i class="fa fa-cog about-icon-cog"></i>
			</div>
			<h3 class="about-page-subtitle">Overview</h3>
			<p>
				Each MIT REAP cohort brings together diverse regional teams from across the globe committed to accelerating their regions’ innovation-driven entrepreneurial ecosystems as drivers of regional prosperity and job creation. The unique program design enables members to learn from MIT expertise, catalyze regional action and mobilize key players, and collaborate cross-regionally to discover and leverage global best practice. Workshops, virtual mentoring, and online tools are blended to create a two-year experience where teams tap into education and an environment of accountability and action.
			</p>
			<p>
				To build well-informed Acceleration Strategy, intra-regional collaboration is fostered as teams represent a diversity of perspectives and bring together representatives from government, economic development, entrepreneurs, universities, risk capital, and large corporations.
			</p>
		</div>
		<div class="col-sm-4 info-col info-col-line-double" id="evaluate-col">
			<div class="circle-smaller light-blue-reap">
				<i class="fa fa-tasks about-icon-list"></i>
			</div>
			<h3 class="about-page-subtitle">Results</h3>
			<p>
				By taking advantage of MIT’s expertise in the development of entrepreneurial ecosystems, new member regions will participate in a 2-year program enabling them to:
			</p>
			<p>
				Design and implement a REAP Acceleration Strategy to harness the power of innovation and entre¬preneurship and accelerate growth and development in their region’s ecosystem.
			</p>
			<p>
				Build an interdisciplinary team to drive impact and regional strategy implementation.
			</p>
			<p>
				Leverage understanding of key drivers of successful innovation-driven entrepreneurial (IDE) ecosystems to design and implement key programs and policies, informed by MIT research and global best practice.
			</p>
			<p>
				Deploy MIT rigor and use frameworks to deepen analysis and evaluate their current regional entrepreneurial ecosystems.
			</p>
			<p>
				Compare and learn from other regions globally.
			</p>
		</div>
		<div class="col-sm-4 info-col" id="ideate-col">
			<div class="circle-smaller light-blue-reap">
				<i class="fa fa-rocket about-icon-rocket"></i>
			</div>
			<h3 class="about-page-subtitle">Innovation-Driven Entrepreneurship</h3>
			<p>REAP is specifically focused on how Innovation-Driven Entrepreneurship (IDE) impacts regional economies. IDE enterprises exploit new technological advances to create businesses that aim to compete in a global market, as compared to small- and medium-sized enterprises (SMEs) created to offer traditional goods and services to a local or regional market. Innovation-driven enterprises create a wealth of high-quality jobs for workers across the spectrum of education and skills. MIT’s unparalleled excellence in engineering and technology uniquely positions us to train the next generation of innovation-driven entrepreneurs, and to assemble key regional leaders working to harness their power to impact regional prosperity and economic development.</p>
		</div>	    	
	</div>
</div>