<div class="container container-buffered-top newsfeed-container">
	<h1>The MIT Advantage</h1>
	<p>MIT is the premier academic institution worldwide for entrepreneurship education.  With over 25,800 companies founded by living alumni, MIT is one of the world’s most prolific company creators.  MIT entrepreneurs come from all five schools across the Institute and have founded companies in industries ranging from biotech to fashion.  MIT-founded companies create nearly $2 trillion in revenue annually.  If MIT founders were to form one nation, that country would have the eleventh largest GDP worldwide.   Through its programming and academic curriculum, MIT has made entrepreneurship accessible to students allowing for more companies to grow out of MIT than anywhere else in the world.</p>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	    	<%= image_tag 'reap1.png', class: 'center-div' %>
	      	<div class="carousel-caption">
	        
	      	</div>
	    </div>
	    <div class="item center-div">
	    	<%= image_tag 'reap2.png', class: 'center-div' %>
	      	<div class="carousel-caption">
	        
	      	</div>
	    </div>
	    <div class="item center-div">
	    	<%= image_tag 'reap3.png', class: 'center-div' %>
	      	<div class="carousel-caption">
	        
	      	</div>
	    </div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div>
</div>