
<div class="container container-buffered-top newsfeed-container">
	<h1>MIT Professors in the News</h1>

	<h4><a href="http://b.globe.com/HDVJwA">How Female Entrepreneurs Can Raise VC Funding, from MIT Professor Fiona Murray</a></h4>

	<h4><a href="http://b.globe.com/HDVJwA">Professor Fiona Murray Hosts Chinese Entrepreneurs at MIT </a></h4>

	<h4><a href="http://bit.ly/1b5BdNn">Professor Fiona Murray is Named Associate Dean of Innovation and Co-Director of the MIT Innovation Initiative</a></h4>

	<h4><a href="http://disciplinedentrepreneurship.com/">Disciplined Entrepreneurship: 24 Steps to a Successful Startup</a></h4>

	<h4><a href="http://online.wsj.com/news/articles/SB10001424127887323324904579042773539825050">Teaching Entrepreneurship Is in the Startup Phase</a></h4>

	<h4><a href="http://www.forbes.com/sites/groupthink/2013/07/10/six-whopping-lies-told-about-entrepreneurs-sometimes-by-entrepreneurs-themselves/">Six Whopping Lies Told About Entrepreneurs … Sometimes By Entrepreneurs Themselves</a></h4>

	<h4><a href="http://www.kauffman.org/newsroom/2013/05/a-tale-of-two-entrepreneurs-new-kauffman-paper-highlights-different-types-and-their-roles-in-economy">A Tale of Two Entrepreneurs: Understanding Differences in the Types of Entrepreneurship in the Economy</a></h4>

	<h4><a href="http://www.bostonglobe.com/opinion/2012/10/16/not-all-jobs-are-created-equal/tO1N2PsdJne6Qaw9MYIiYN/story.html">Not all jobs are created equal</a></h4>

	<h4><a href="http://www.huffingtonpost.com/william-aulet/10-ways-our-schools-can-b_b_766477.html">10 Steps to Improve Entrepreneurship Education</a></h4>

	<h4><a href="http://online.wsj.com/news/articles/SB10001424127887324324404579045312867464966">Lessons in Entrepreneurship: Aulet Offers Steps for Potential Business Owners</a></h4>

	<h4><a href="http://www.bostonglobe.com/business/2013/08/11/mit-bill-aulet-charts-steps-start-success/bfwVKBE7TT4LceDrh1zb8O/story.html">Entrepreneurship can be taught, writer says</a></h4>

	<h4><a href="http://www.bostonglobe.com/business/2013/04/30/mit-launches-global-start-accelerator/R7XzbE6fGDrrugeb7foIJL/story.html">MIT entrepreneurs program to include six foreign teams</a></h4>

	<h4><a href="http://www.bostonmagazine.com/2012/10/mit-important-university-world-harvard/">How MIT Became the Most Important University in the World</a></h4>

	<h4><a href="http://www.boston.com/news/science/articles/2010/05/16/more_than_the_money/">More than the money: MIT Clean Energy contest isn’t just about the prize; it’s about cultivating entrepreneurs</a></h4>
</div>