
<div class="container container-buffered-top newsfeed-container">
	<h3><a href="http://b.globe.com/HDVJwA">How Female Entrepreneurs Can Raise VC Funding, from MIT Professor Fiona Murray</a></h3>

	<h3><a href="http://b.globe.com/HDVJwA">Professor Fiona Murray Hosts Chinese Entrepreneurs at MIT </a></h3>

	<h3><a href="http://bit.ly/1b5BdNn">Professor Fiona Murray is Named Associate Dean of Innovation and Co-Director of the MIT Innovation Initiative</a></h3>
</div>