<div id="mainpic">
	<div class="mainpic-text" id="regional-main-text">Regional</div>
	<div class="mainpic-text" id="entrepreneurship-main-text">Entrepreneurship</div>
	<div class="mainpic-text" id="acceleration-main-text">Acceleration</div>
	<div class="mainpic-text" id="program-main-text">Program</div>
	<div id="blurb-main-text">In Partnership with the Martin Trust</br></br>Center for MIT Entrepreneurship and</br></br>MIT Sloan Executive Education</div>
</div>
<div class="container">
	<div class="content">
	    <div id="triple-description">
	    	<div class="row">
	      		<div class="span4" id="collaborate-col">
	      			<%= image_tag("collabicon.jpg", id: 'collab-icon') %>
	    			<h3>Collaborate</h3>
	    			<p>We bring together representatives from government, economic development, entrepreneurs, universities, risk capital, and large corporations committed to accelerating their regions’ innovation-driven entrepreneurial ecosystems as drivers of regional prosperity and job creation.</p>
	    		</div>
		   		<div class="span4" id="ideate-col">
		   			<%= image_tag("imagecomingsoon.jpg") %>
		    		<h3>Ideate</h3>
		    		<p>Design and implement a REAP Acceleration Strategy to harness the power of innovation and entre¬preneurship and accelerate growth and development in their region’s ecosystem.</p>
		   			<p>Leverage understanding of key drivers of successful innovation-driven entrepreneurial (IDE) ecosystems to design and implement key programs and policies, informed by MIT research and global best practice.</p>
		    	</div>
		    	<div class="span4" id="evaluate-col">
		    		<%= image_tag("imagecomingsoon.jpg") %>
		   			<h3>Evaluate</h3>
		   			<p>Take advantage of MIT’s expertise in the development of entrepreneurial ecosystems.</p>
		   			<p>Deploy MIT rigor and use frameworks to deepen analysis and evaluate their current regional entrepreneurial ecosystems.</p>
		   			<p>Compare and learn from other regions globally.</p>
		   		</div>
	    	</div>
	    </div>
	</div>
</div>