/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require_tree .
 */
@import "bootstrap";
body {  
	background-color: #fafafa !important;
	font-family: whitney_htflight_condensed !important;
}
@import "bootstrap-responsive";

 @font-face {
    font-family: 'whitney_htflight_condensed';
    src: url('whitneyhtf-lightcondensed-webfont.eot');
    src: url('whitneyhtf-lightcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('whitneyhtf-lightcondensed-webfont.woff') format('woff'),
         url('whitneyhtf-lightcondensed-webfont.ttf') format('truetype'),
         url('whitneyhtf-lightcondensed-webfont.svg#whitney_htflight_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

#reaplogo {
	height:65px;
	position:relative;
	top:-5px;
}

div.content-row {
	margin-right:auto;
	margin-left:auto;
	margin-top:50px;
	margin-bottom:50px;
	text-align: center;
}

.navbar {
	margin-bottom:0px !important;
}

.navbar-brand {
	padding-top:10px !important;
	padding-bottom:8px !important;
}
 
.navbar-link {
	margin-top:16px;
	font-size: 16px;
}

h2, h3 {
	margin-top:-10px !important;
	font-family: whitney_htflight_condensed !important;
}

h4 {
	font-family: whitney_htflight_condensed !important;
}

h1 {
	font-family: whitney_htflight_condensed, bolder !important;
}

.main-country-title {
	padding-top: 40px;
	font-family: whitney_htflight_condensed !important;
	letter-spacing: 5px;
	text-align: center;
	margin:auto !important;
	position:relative;
	color:white;
	padding-bottom:10px;
}

.light-blue-reap {
	background-color: rgb(59,178,203);
}

.pink-reap {
	background-color: rgb(192,84,140);
}

.dark-blue-reap {
	background-color: rgb(37,132,184);
}

.red-reap {
	background-color: rgb(183,20,96);
}

.gray-reap {
	background-color: rgb(47,43,40);
}

.center-txt {
	text-align: center;
	padding-bottom:20px;
}

.padded-header {
	padding-top:45px;
	font-weight: bolder;
}

.white-title {
	color:white;
	font-family: whitney_htflight_condensed;
	margin-top:0px;
}

.no-padding-bottom {
	margin-bottom:0px;
	padding-bottom:0px;
}

.less-padding-bottom {
	margin-bottom: 10px;
}

.more-padding-graph {
	margin-top:15px;
	margin-bottom:37px;
}

.search-input {
	position:relative;
	top:4px;
}

.extra-right-margin {
	margin-right:20px;
}

li {
	margin-left:20px !important;
}

.padded-contact {
	margin-top:20px !important;
	margin-bottom:20px !important;
}

.center-div {
	margin: auto !important;
	padding-bottom: 40px;
	height:500px !important;
}

.hard-center {
	text-align: center;
}

div.added-padding-bottom {
	margin-bottom:50px !important;
}

a.no-decorate-link {
	color:white !important;
}

.buffer-top {
	height:80px;
}

.flash-msg {
	text-align: center;
}

.who-circle {
	margin-top:25px;
	width:180px;
}

.why-circle {
	margin-top: 50px;
	margin-right: 30px;
	width:180px;
}

.how-circle {
	width: 150px;
	margin-top: 50px;
}


