#mainpic {
	width:100%;
	height:750px;
	background: url('mainpic.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position:relative;
  	top: -130px;
	z-index: -10;
	margin-bottom:-130px;
}

#second-pic {
	width:100%;
	height:700px;
	background: url('secondpic.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position:relative;
}

#third-pic {
	width:100%;
	height:700px;
	background: url('thirdpic.png') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position:relative;
}

.mainpic-text {
	background-color: rgba(40,45,46,.77);
	height:70px;
	font-family: whitney_htflight_condensed !important;
	font-size: 48px;
	color:white;
	letter-spacing: 10px;
	padding-bottom: 20px;
	padding-top:1px;
	padding-left: 15px;
	position:relative;
	left:150px;
}

#regional-main-text {
	top:180px;
	width:228px;
}

#entrepreneurship-main-text {
	top:210px;
	width:435px;
}

#acceleration-main-text {
	top:240px;
	width:330px;
}

#program-main-text {
	top:270px;
	width:219px;
}

#blurb-main-text {
	background-color: rgba(40,45,46,.77);
	font-family: whitney_htflight_condensed !important;
	font-size: 20px;
	color:white;
	letter-spacing: 3px;
	padding-bottom: 15px;
	padding-top:15px;
	padding-left: 10px;
	padding-right: 10px;
	position:relative;
	float: right;
	top:335px;
	right:20px;
	text-align: right;
}

#triple-description {
	height:400px;
}

.circle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	margin: 0 auto;
	margin-bottom:20px;
}

.circle-smaller {
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	margin: 0 auto;
	margin-bottom:20px;
}

.small-circle {
	border-radius: 50%;
	width: 40px;
	height: 40px; 
	position:relative;
}

.title-icon {
	color: white;
	position:relative;
}

.icon-book {
	font-size:140px !important;
	top:30px;
}

.icon-lightbulb {
	font-size: 170px !important;
	top:16px;
}

#collab-img {
	width:130px;
	margin-top:35px;
}

.info-col {
  	padding:20px;
  	height: 100%;
}

.info-col-line {
	border-right: 1px solid rgb(220, 220, 220);
}

.partner-country-index {
	margin-left: 3.49%;
	margin-right: 3.49%;
	text-align: center;
}

.country-img {
	height:60%;
	margin-top:20%;
}

.country-img-wide {
	width:60%;
	margin-top:30%;
}

.country-img-turkey {
	width:60%;
	margin-top:39%;
}

.country-img-china {
	width:80%;
	margin-top:23%;
}

.country-img-spain {
	position: relative;
	top: 50px;
	width: 72%;
}

.country-row {
	margin:auto;
}

.country-header-row {
	padding-bottom:5px;
	text-align: center;
	margin:auto;
}

.country-apply-label {
	font-size: 20px;
	color: white;
	font-weight: bolder;
	position: relative;
	top:30%;
}

.country-apply-button {
	position:relative;
	top:60px;
	font-family: whitney_htflight_condensed !important;
	letter-spacing: 1px
}

.bottom-index-row {
	padding-bottom:30px;
}

.bottom-circle-label {
	position: relative;
	top: -33px;
	width: 197px;
	left: -8%;
}

.bottom-circle-label-0 {
	position: relative;
	top: 30px;
	width: 196px;
	left: -8%;
}

.bottom-circle-label-1 {
	position: relative;
	top: 30px;
	width: 196px;
	left: -8%;}

.bottom-circle-label-2 {
	position: relative;
	top: 10px;
	width: 196px;
	left: -8%;
}

.bottom-circle-label-3 {
	position: relative;
	width: 196px;
	left:-7.5%;
}

.bottom-circle-label-4 {
	position: relative;
	top: -19px;
	width: 196px;
	left: -7.5%;
}

.country-label {
	position:relative;
	top:-74px;
	color:white;
	font-size: 20px;
}

.country-label-0 {
	position:relative;
	top:-13px;
	color:white;
	font-size: 20px;
}

.country-label-1 {
	position:relative;
	top:-70px;
	color:white;
	font-size: 20px;
}

.country-label-2 {
	position:relative;
	top:-33px;
	color:white;
	font-size: 20px;
}

.country-label-3 {
	position:relative;
	top:-42px;
	color:white;
	font-size: 20px;
}

.country-label-4 {
	position:relative;
	top:-61px;
	color:white;
	font-size: 20px;
}

.team-member-div {
	height:130px;
	padding:10px;
	text-align: center;
	color:white;
	margin-left:0px;
}

h6 {
	color:white;
	font-family: whitney_htflight_condensed;
	font-size:15px;
}

.individual-title {
	font-size:15px;
}

.team-p {
	font-size:15px;
	font-family: whitney_htflight_condensed;
	font-weight: bold;
	padding-bottom: 3px;
	margin-bottom: 0px;
}

#person-bio {
	position: relative;
	left: 6.4%;
	width: 87.2%;
	color:white;
	padding:10px;
	display: none;
}

.spaced-font-button {
	font-family: whitney_htflight_condensed !important;
	letter-spacing: 1px
}

.graph-border {
	margin-left:5px;
	width: 99.16%;
	border:20px solid rgb(37,132,184);
	padding:10px;
	height: 495px;
}

.graph-analytics-block {
	margin:10px;
	color:white;
	padding:20px;
}

.gab-1 {
	width: 48.18%;
}

.gab-2 {
	width: 21.82%;
}

.gab-3 {
	position: relative;
	top: -50px;
}

.fit1 {
	height: 176px;
}

.person-img {
	width:94%;
	position:relative;
	top:10%;
}

.white-text {
	color: white;
	margin:0px;
}

.contact-us {
	text-align: center;
	padding:20px;
}

.text-contact-form {
	height:200px !important;
	resize: none;
}

.submit-button-row {
	text-align: right;
}

.bottom-circle-label-name {
	width:196px;
	position:relative;
}
