#mainpic {
	width:100%;
	height:700px;
	background: url('mainpic.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position:relative;
  	top:-30px;
}

#second-pic {
	width:100%;
	height:700px;
	background: url('secondpic.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position:relative;
}

#third-pic {
	width:100%;
	height:700px;
	background: url('thirdpic.png') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position:relative;
}

.mainpic-text {
	background-color: rgba(40,45,46,.77);
	height:30px;
	font-family: whitney_htflight_condensed !important;
	font-size: 48px;
	color:white;
	letter-spacing: 10px;
	padding-bottom: 20px;
	padding-top:25px;
	padding-left: 20px;
	padding-right: 20px;
	position:relative;
	left:150px;
}

#regional-main-text {
	top:120px;
	width:200px;
}

#entrepreneurship-main-text {
	top:150px;
	width:407px;
}

#acceleration-main-text {
	top:180px;
	width:302px;
}

#program-main-text {
	top:210px;
	width:191px;
}

#blurb-main-text {
	background-color: rgba(40,45,46,.77);
	font-family: whitney_htflight_condensed !important;
	font-size: 20px;
	color:white;
	letter-spacing: 3px;
	padding-bottom: 10px;
	padding-top:15px;
	padding-left: 10px;
	padding-right: 10px;
	position:relative;
	float: right;
	top:240px;
	right:20px;
	height:110px;
	width:336;
	text-align: right;
}

#triple-description {
	height:400px;
}

.circle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	margin: 0 auto;
	margin-bottom:20px;
}

.small-circle {
	border-radius: 50%;
	width: 40px;
	height: 40px; 
	position:relative;
}

.title-icon {
	color: white;
	position:relative;
}

.icon-book {
	font-size:140px !important;
	top:30px;
}

.icon-lightbulb {
	font-size: 170px !important;
	top:16px;
}

#collab-img {
	width:130px;
	margin-top:35px;
}

.info-col {
  	width: 27%;
  	padding:20px;
}

.partner-country-index {
	margin-left:2%;
	margin-right: 2%
}

.country-img {
	height:60%;
	margin-top:20%;
}

.country-img-wide {
	width:60%;
	margin-top:30%;
}

.country-img-turkey {
	width:60%;
	margin-top:39%;
}

.country-img-china {
	width:80%;
	margin-top:23%;
}

.country-row {
	margin-left:7.5% !important;
	padding-bottom:0px;
}

.country-header-row {
	padding-bottom:5px;
}

.country-apply-label {
	font-size: 24px;
	color: white;
	font-weight: bolder;
	position: relative;
	top:35%;
}

.country-apply-button {
	position:relative;
	top:70px;
	font-family: whitney_htflight_condensed !important;
	letter-spacing: 1px
}

#bottom-info-div {
	height:50px;
}

.bottom-index-row {
	padding-bottom:30px;
}

