<div class="navbar navbar-fixed-top navbar-inner navbar-reap">
	<div class="container">
		<a class="brand" href="/"><%= image_tag("reaplogo.png", id: 'reaplogo') %></a>
		<ul class="nav pull-right nav-top-right">
			<li><a href="#">About</a></li>
			<li><a href="/news_articles">News</a></li>
			<li><a href="#">Teams</a></li>
			<li class='btn btn-info top-bar-button'><a href="#" class='apply-link-top-bar'>Apply Now!</a></li>
		</ul>
	</div>
</div>