<div class="navbar navbar-fixed-top navbar-inner navbar-reap">
	<div class="container">
		<a class="brand" href="/"><%= image_tag("reaplogo.png", id: 'reaplogo') %></a>
		<ul class="nav pull-right nav-top-right">
			<li><a href="#">About</a></li>
			<li><a href="#">Apply</a></li>
			<li><a href="/news_articles">Resources</a></li>
			<li><a href="#">Partner Regions</a></li>
			<li><a href="#">MIT Team</a></li>
			<li><a href="#" class="extra-right-margin">Contact Us</a></li>
			<li><input type="text" class="control-group search-input"></li>
			<li><button type="submit" class="btn extra-left-margin">Search</button></li>

		</ul>
	</div>
</div>